nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

nav a:hover {
    color: orange !important;
}

.customlink {
    display: flex;
    justify-content: center;
    background-color: #0ea9a9;
    padding: 10px 0;
    margin-bottom: 20px;
}